.LoginPage {
    background-color: #ADD8E6;
    background-image: url('/src/assets/background.gif');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    margin-right: 10px;
    /* Adjust as needed */
}

.form-control {
    height: 40px;
    position: fixed;
    top: 750px;
}

.scrollarea {
    min-height: 500px;
}

.btn.btn-primary.btn-sx {
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
}

.spam-message {
    position: fixed;
    top: 790px;
}