.animate_enter_room_background {
    background-image: url('/src/assets/roomlist_background.gif');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: enter_room 2s;
    opacity: 0;
    z-index: -1;
}

@keyframes enter_room {
    0% {
        opacity: 1;
        z-index: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        z-index: 1;
        transform: scale(2);
    }
}

.chat_background {
    background-image: url('/src/assets/chatroom_background.gif');
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
    position: relative;

    .container {
        padding-top: 5vh;
        padding-bottom: 5vh;
        flex-flow: column;
        height: 100%;
    }

    #chatroom_name>div {
        border-bottom: 1px solid #3e270b;

        h3 {
            font-weight: bold;
            text-shadow: 1px 1px #814700;
            display: inline-block;
            padding-bottom: 10px;
            padding-right: 20px;
        }

        h3+span {
            text-shadow: 1px 1px #814700;
            font-size: 2rem;
        }

        &#back_to_roomlist h3 {
            margin-top: 8px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #messages_container {
        flex-grow: 1;
        background-color: rgba(255, 207, 207, 0.55);
        border-radius: 50px;
        overflow: scroll;

        >div {
            overflow-y: scroll;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        ::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style:none;
        /* IE and Edge */
        scrollbar-width:none;
        /* Firefox */
    }

    #textbox_container {
        #username input {
            color: #b57777;

            &:hover {
                cursor: default;
            }
        }

        .input_container {
            position: relative;

            input {
                width: 100%;
            }

            span {
                position: absolute;
                top: 30%;
                bottom: 0;
                right: 40px;
                color: #959595;
            }
        }
    }
}

.warning {
    line-height: 0.2;
    color: red;
    position: absolute;
    bottom: -20px;
    left: 20px;
}

@keyframes glitter {
    0% {
        border-color: mediumorchid;
    }

    100% {
        border-color: lavender;
    }
}