.login_page {
    background-color: #ADD8E6;
    background-image: url('/src/assets/login_background.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 4rem;
    color: rgb(36, 3, 3);
    font-weight: bold;
    text-shadow: 1px 1px rgba(120, 39, 39, 0.5), 2px 2px 1px rgba(55, 6, 6, .5), -1px -1px 0px rgba(120, 39, 39, .5), 3px 3px 5px white;
    display: inline-block;
    padding: 28px 30px 10px !important;
    font-family: auto;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
