.LoginPage {
    background-color: #ADD8E6;
    background-image: url('/src/assets/background.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatroomGif {
    height: 8vh;
    width: auto;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    height: 40px;
    width: 80%;
    margin-top: auto;
    margin-bottom: 10px;
}

.form-control:focus {
    background-color: #e0d1e3;
}

.messages-container {
    height: 85vh;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.warning {
    line-height: 0.2;
    color: red;
}
