html, body, main, #root {
    height:100%;
}

main {
    /*font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family:'Courier New', Courier, monospace;
}

button.button {
    color: #cecece;
    font-weight:bold;
    padding:8.5px 25px;
    border-radius:20px;
    background-image: linear-gradient(90deg, rgb(85, 16, 16), rgb(85, 16, 16), rgb(36, 3, 3)) !important;
}

button.button:hover {
    animation-name: login_hover_animation;
    animation-duration: 0.5s;
    background-image: linear-gradient(90deg, rgb(85, 16, 16), rgb(85, 16, 16), rgb(36, 3, 3)) !important;
    box-shadow: 0px 2px rgb(36, 3, 3);
}

/* The animation code */
@keyframes login_hover_animation {
    from
    {
        box-shadow: 0px 2px rgba(36, 3, 3, 0);
    }
    to 
    {
        box-shadow: 0px 2px rgba(36, 3, 3, 1);
    }
}

.input_container {
    position: relative;

    input {
        color: #959595;
        padding: 10px 15px;
        background-color: rgba(55, 6, 6, 0.5);
        border: 2px solid rgb(55, 6, 6);
        border-radius: 25px;

        &::placeholder {
            color: #959595;
            opacity: 1;
            /* Firefox */
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: #959595;
        }
    }

    input:focus {
        outline: none;
        background-color: rgba(55, 6, 6, 0.65);
        border: 2px solid rgb(47, 4, 4);
        color: #dadada;

        &.textbox_glitter {
            border-color: 'mediumorchid';
            animation: glitter 0.2s infinite alternate;
        }
    }
}
