.room_background {
    background-image: url('/src/assets/roomlist_background.gif');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

section:first-child {
    padding-top:100px;
}

section:last-child {
    padding-bottom:5vh;
}

section:first-child p {
    margin:0;
    padding-top:5px;
    padding-right:20px;
}

#clock p {
    font-weight:normal;
    color:lightgrey;
    padding:0px;
}

#greetings p {
    font-weight:bold;
    color:white;
}

#rooms_list {
    overflow-y:scroll;
    max-height:50vh;
    padding-top:0px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#rooms_list::-webkit-scrollbar {
    display:none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#rooms_list {
    -ms-overflow-style:none;  /* IE and Edge */
    scrollbar-width:none;  /* Firefox */
}
