.room_background {
    background-image: url('/src/assets/background.gif');
    background-size: cover;
    background-repeat: repeat;
}

main {
    height:100vh;
    /*font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family:'Courier New', Courier, monospace;
}

section {
    padding:30px 10vw;
}

section:first-child {
    padding-top:100px;
}

section:first-child p {
    margin:0;
    padding-top:5px;
    padding-right:20px;
}

input {
    padding:2px 5px;
    background-color:rgb(224, 224, 224);
}

#clock {
    margin-bottom:10px;
}

#clock p {
    font-weight:normal;
    color:lightgrey;
    padding:0px;
}

#greetings p {
    font-weight:bold;
    color:white;
}