.login_container .input_container {
    input {
        color: #cecece;
        padding-right:78px;
        width: 300px;
    }

    .button_container {
        float:right;
        z-index:2;
        position: relative;

        .button {
            margin-left:-75px;
            border: 2px solid rgb(55, 6, 6);
            padding: 10px 25px;
            border-radius: 25px;
        }
    }
}